body {
  background: #18191e;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

header {
  float: left;
  width: 100%;
  background: #141414;
  font-size: 12px;
  margin: 0 0 30px;
  padding: 15px 0;
}

header .header-wraper {
  width: 1200px;
  margin: 0 auto;
}

header .logo {
  background: #00b7e0;
  width: 50px;
  height: 50px;
  float: left;
}

header nav {
  float: left;
  width: 100%;
}

header ul {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

header li {
  float: left;
  margin: 0 0 0 20px;
}

header .left-nav {
  float: left;
}

header .right-nav {
  float: right;
}

header .item-val {
  color: #f1f1f1;
}

header .drop-list {
  display: none;
}

main {
  float: left;
  width: 100%;
}

main .main-wraper {
  width: 1200px;
  background: rgba(255, 255, 255, 0.25);
  margin: 0 auto;
}
