$main-background: #18191e;
$header-background: #141414;
$nav-items-color: #f1f1f1;
$main-font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
$main-width: 1200px;
$main-area-background: rgba(#fff, 0.25);
$logo-background: #00b7e0;


body {
    background: $main-background;
    font-family: $main-font-family;
}

header {
    float: left;
    width: 100%;
    background: $header-background;
    font-size: 12px;
    margin: 0 0 30px;
    padding: 15px 0;
    .header-wraper {
        width: $main-width;
        margin: 0 auto;
    }
    .logo {
        background: $logo-background;
        width: 50px;
        height: 50px;
        float: left;
    }
    nav {
        float: left;
        width: 100%;
    }
    ul {
        list-style: none;
        margin: 15px 0;
        padding: 0;
    }
    li {
        float: left;
        margin: 0 0 0 20px;
    }
    .left-nav {
        float: left;
    }
    .right-nav {
        float: right;
    }
    .item-val {
        color: $nav-items-color;
    }
    .drop-list {
        display: none;
    }
}

main {
    float: left;
    width: 100%;

    .main-wraper {
        width: $main-width;
        background: $main-area-background;
        margin: 0 auto;
    }
}